In [1]:
import csv
import pandas as pd
import numpy as np

df = pd.read_csv('LAKEHOUSE_SILVER_LAYER/plantshift.csv')
mainarr=[]
for i in range(0,len(df)):
    plantproduction=df["Quantity"][i]
    date=df["Date"][i]
    hour=df["Hour"][i].split("-")[0]
    lanes=df["Bay"][i]
    arr=(plantproduction,date,hour,lanes)
    mainarr.append(arr)
    
item_col=[ "Planned production","date","hour","lane values"]
step1_df = pd.DataFrame(mainarr, columns=item_col)
step1_df

      Planned production        date  hour lane values
0                     21  2022-06-01  1900     EE-0001
1                     21  2022-06-01  1900     EE-0001
2                     21  2022-06-01  1900     EE-0001
3                     21  2022-06-01  1900     EE-0001
4                     22  2022-06-01  1900     EE-0001
...                  ...         ...   ...         ...
2364                  27  2022-06-09  1900     SB-0001
2365                  28  2022-06-09  1900     SB-0001
2366                  28  2022-06-09  1900     SB-0001
2367                 105  2022-06-09  1900     EP-0001
2368                 105  2022-06-09  1900     EP-0001

[2369 rows x 4 columns]

In [2]:
df

,ID,ItemNo,Date,Shift,Station,Hour,Quantity,LineLeader,Bay,DivisionId,CreationDateTime,BreakTime,WorkOrderId,Company,Division
0,1,Items-EE-07197264-UK,2022-06-01,G,EE-0001,1900-01-01 17:00:00,21,EE_LineLeader_1,EE-0001,4,2022-06-01 21:02:00,0,W-749816,NaN,NaN
1,2,Items-EE-07197264-UK,2022-06-01,G,EE-0001,1900-01-01 20:00:00,21,EE_LineLeader_1,EE-0001,4,2022-06-01 21:04:00,0,W-749816,NaN,NaN
2,3,Items-EE-07197264-UK,2022-06-01,G,EE-0001,1900-01-01 15:00:00,21,EE_LineLeader_1,EE-0001,4,2022-06-01 21:06:00,0,W-749816,NaN,NaN
3,4,Items-EE-07197264-UK,2022-06-01,G,EE-0001,1900-01-01 16:00:00,21,EE_LineLeader_1,EE-0001,4,2022-06-01 21:08:00,60,W-749816,NaN,NaN
4,5,Items-EE-07197264-UK,2022-06-01,G,EE-0001,1900-01-01 09:00:00,22,EE_LineLeader_1,EE-0001,4,2022-06-01 21:10:00,0,W-749816,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2364,2365,Items-SB-02330381-US,2022-06-09,G,SB-0001,1900-01-01 14:00:00,27,SB_LineLeader_1,SB-0001,3,2022-06-09 16:12:00,30,W-36188,NaN,NaN
2365,2366,Items-SB-02330381-US,2022-06-09,G,SB-0001,1900-01-01 20:00:00,28,SB_LineLeader_1,SB-0001,3,2022-06-09 16:14:00,0,W-36188,NaN,NaN
2366,2367,Items-SB-02330381-US,2022-06-09,G,SB-0001,1900-01-01 20:00:00,28,SB_LineLeader_1,SB-0001,3,2022-06-09 16:16:00,60,W-36188,NaN,NaN
2367,2368,Items-EP-07767398-CH,2022-06-09,G,EP-0001,1900-01-01 14:00:00,105,EP_LineLeader_1,EP-0001,1,2022-06-09 16:02:00,0,W-989803,NaN,NaN
2368,2369,Items-EP-07767398-CH,2022-06-09,G,EP-0001,1900-01-01 16:00:00,105,EP_LineLeader_1,EP-0001,1,2022-06-09 16:04:00,60,W-989803,NaN,NaN

In [3]:
resultdf = pd.read_csv('LAKEHOUSE_SILVER_LAYER/result.csv')
routingdf = pd.read_csv('LAKEHOUSE_SILVER_LAYER/routing1.csv')


resultdf_ID=resultdf.columns
routingdf_ID=routingdf.columns
print(len(resultdf_ID))
print(len(routingdf_ID))
Common1=list(set(resultdf_ID).intersection(routingdf_ID))
print(Common1)
step2df=pd.merge(resultdf,routingdf,left_on="RoutingStageId",right_on="id",how="inner").drop_duplicates().reset_index(drop=True)

for i in range (0,len(Common1)):
    del step2df[str(Common1[i])+"_y"]
    step2df.rename(columns = {str(Common1[i])+"_x":str(Common1[i])}, inplace = True)

print(len(step2df.columns))
step2df.to_csv("test.csv",index=False)

C:\Users\angel\AppData\Local\Temp\ipykernel_19748\628158900.py:1: DtypeWarning: Columns (12,16,17,18,19,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  resultdf = pd.read_csv('LAKEHOUSE_SILVER_LAYER/result.csv')

23
69
['Division', 'Company', 'BatchId', 'WorkOrderId']
88

In [4]:
workorderdf = pd.read_csv('LAKEHOUSE_SILVER_LAYER/workorder.csv')

#keep id x
WorkOrderId=workorderdf["Id"]
routingId=routingdf["WorkOrderId"]
workorder_head=workorderdf.columns
step2_head=step2df.columns
Common3_head=list(set(workorder_head).intersection(step2_head))
print(len(workorderdf))
print(len(step2df))
print(len(workorder_head))
print(len(step2_head))
print(Common3_head)
print(len(WorkOrderId))
print(len(routingId))
Common2=list(set(WorkOrderId).intersection(routingId))
print(len(Common2))




print(len(step2df.columns))

workorderdf = pd.merge(workorderdf, pd.DataFrame(Common2,columns=["Id"]),on="Id",how="left")    
step3df=pd.merge(step2df,workorderdf,left_on="WorkOrderId",right_on="Id",how="left")
Common4=list(set(workorderdf).intersection(step2df))
for i in range (0,len(Common4)):
    del step3df[str(Common4[i])+"_y"]
    step3df.rename(columns = {str(Common4[i])+"_x":str(Common4[i])}, inplace = True)


#step3df=pd.merge(step2df,workorderdf,left_on="RoutingStageId",right_on="id",how="inner").drop_duplicates().reset_index(drop=True)


step3df = step3df[step3df["Surface"]==1]

432
77141
32
88
['Id']
432
77142
432
88

In [5]:
step3df.shape

(55149, 119)

In [6]:
step3df["Surface"]

0        1
1        1
3        1
4        1
5        1
        ..
77133    1
77134    1
77135    1
77137    1
77139    1
Name: Surface, Length: 55149, dtype: int64

In [33]:
import datetime

print(step3df["LastModifiedDate"])
step3df['LastModifiedDate_Hour'] = step3df['LastModifiedDate'].apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d %H:%M:%S").hour)
step3df['LastModifiedDate_Date'] = step3df['LastModifiedDate'].apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d %H:%M:%S").day)
print(step3df['LastModifiedDate_Date'])
step4df = step3df.groupby(["ItemId", "SubWorkCenter", "LastModifiedDate_Date","LastModifiedDate_Hour"])["BoardId"].count()

0        2022-06-01 17:12:00
1        2022-06-01 17:22:00
3        2022-06-01 17:42:00
4        2022-06-01 17:52:00
5        2022-06-01 18:02:00
                ...
77133    2022-06-10 06:02:00
77134    2022-06-10 06:12:00
77135    2022-06-10 06:22:00
77137    2022-06-10 06:42:00
77139    2022-06-10 07:02:00
Name: LastModifiedDate, Length: 55149, dtype: object
0         1
1         1
3         1
4         1
5         1
         ..
77133    10
77134    10
77135    10
77137    10
77139    10
Name: LastModifiedDate_Date, Length: 55149, dtype: int64

In [36]:
step4df.to_csv("step4.csv")

In [47]:
#step 5

df['Hour_Hour'] = df['Hour'].apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d %H:%M:%S").hour)
df['Date_Date'] = df['Date'].apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d").day)

# Use the merge method to combine the data on the common columns
step5df = pd.merge(step4df, df, 
                        left_on=['ItemId', 'SubWorkCenter', 'LastModifiedDate_Hour', 'LastModifiedDate_Date'] ,right_on=[ 'ItemNo', 'Station', 'Hour_Hour', 'Date_Date'])

In [48]:
step5df

,BoardId,ID,ItemNo,Date,Shift,Station,Hour,Quantity,LineLeader,Bay,DivisionId,CreationDateTime,BreakTime,WorkOrderId,Company,Division,Hour_Hour,Date_Date
0,6,79,Items-BC-00078136-US,2022-06-01,G,BC-0001,1900-01-01 10:00:00,18,BC_LineLeader_1,BC-0001,5,2022-06-01 21:02:00,0,W-220355,NaN,NaN,10,1
1,8,82,Items-BC-00078136-US,2022-06-01,G,BC-0001,1900-01-01 11:00:00,19,BC_LineLeader_1,BC-0001,5,2022-06-01 21:08:00,30,W-220355,NaN,NaN,11,1
2,15,84,Items-BC-00078136-US,2022-06-01,G,BC-0001,1900-01-01 12:00:00,19,BC_LineLeader_1,BC-0001,5,2022-06-01 21:12:00,0,W-220355,NaN,NaN,12,1
3,15,87,Items-BC-00078136-US,2022-06-01,G,BC-0001,1900-01-01 12:00:00,19,BC_LineLeader_1,BC-0001,5,2022-06-01 21:18:00,60,W-220355,NaN,NaN,12,1
4,13,81,Items-BC-00078136-US,2022-06-01,G,BC-0001,1900-01-01 14:00:00,19,BC_LineLeader_1,BC-0001,5,2022-06-01 21:06:00,0,W-220355,NaN,NaN,14,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2364,17,2313,Items-TS-08597855-US,2022-06-09,G,TS-0001,1900-01-01 16:00:00,23,TS_LineLeader_1,TS-0001,2,2022-06-09 16:06:00,0,W-9846,NaN,NaN,16,9
2365,28,2316,Items-TS-08597855-US,2022-06-09,G,TS-0001,1900-01-01 17:00:00,24,TS_LineLeader_1,TS-0001,2,2022-06-09 16:12:00,30,W-9846,NaN,NaN,17,9
2366,28,2319,Items-TS-08597855-US,2022-06-09,G,TS-0001,1900-01-01 17:00:00,24,TS_LineLeader_1,TS-0001,2,2022-06-09 16:18:00,30,W-9846,NaN,NaN,17,9
2367,17,2314,Items-TS-08597855-US,2022-06-09,G,TS-0001,1900-01-01 19:00:00,23,TS_LineLeader_1,TS-0001,2,2022-06-09 16:08:00,30,W-9846,NaN,NaN,19,9
2368,20,2317,Items-TS-08597855-US,2022-06-09,G,TS-0001,1900-01-01 20:00:00,24,TS_LineLeader_1,TS-0001,2,2022-06-09 16:14:00,0,W-9846,NaN,NaN,20,9

In [ ]:
#step 6